body{
	margin-left: 5%;
	margin-right:5%;
}
#last_order {
  display: block;
  background-color: #111111;
  border: none;
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 1em;
  width: 20%;
  cursor: pointer;
  margin: auto;
}
#button_div{
	display: block;
	height: auto;
	text-align: center;

}
#org1,#org2,#org3{
  display: inline-block;
  background-color: #111111;
  border: none;
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 1em;
  width: 20%;
  cursor: pointer;
  margin: .5em;
  word-wrap: break-word;
}
#bill_ship_header{
	display: block;
	width: 100%;
	color: white;
	margin-left: auto;
	margin-right:auto;
	margin-bottom:0.5em;
	margin-top: 0;
	text-align: center;
	font-size: 2em;
	background: #555555;
}
#billTo{
	width:45%;
	height: 30em;
	float:left;
	border: 1px solid black;
}

#shipTo{
	width: 45%;
	height:30em;
	margin-left:auto;
	border: 1px solid black;
}

#info{
	margin-bottom: 0;
	margin-top:auto;
	margin-left: 0.5em;

}
#menu_header{
	display: block;
	width:7em;
	float:center;
	text-align: center;
	background:#555555;
	color:white;
	font-size: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

.comment {
        height: 2em;
        width: 80%;
        margin-top: 1em;
        margin-left: 10%;
        margin-right: auto;
        border: 1px solid #cdcdcd;
        border-color: rgba(0,0,0,.14);
        background-color: AliceBlue ; 
        font-size: 14px;

    }
#generate_invoice{
	display: block;
	width:10em;
	float:center;
	text-align: center;
	background:#111111;
	color:white;
	font-size: 2em;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	border: none;
	cursor: pointer;
}
